/* =====================================================
   FUNDO DA PÁGINA
   ===================================================== */
.fundo {
    width: 100vw;
    height: 100vh;
    background-image: url('/public/fundo.png');
    background-repeat: no-repeat;
    background-position: top left;
    border: 1px solid #8b58c0;
}

/* =====================================================
   CARD PRINCIPAL
   ===================================================== */
.card {
    margin: 16.2vh auto 0 auto;
    width: 46vw;
    height: 65vh;
    box-shadow: 0 0 5vw 0.1vw black;
}

/* =====================================================
   ÁREA DO FORMULÁRIO
   ===================================================== */
.login-area {
    margin: -1px auto auto -1px;
    height: 65.1vh;
    background-color: #8b58c0;
    font-family: "Nunito", sans-serif;
    font-weight: bold;
}

.title-form {
    text-align: center;
    margin: 9vh auto 3vw auto;
    font-size: 2vw;
    color: white;
}

/* =====================================================
   INPUTS
   ===================================================== */
.input-user,
.input-pass {
    display: block;
    margin: auto;
    width: 18vw;
    font-family: 'Nunito', sans-serif;
    font-size: 1.3vw;
    font-weight: bold;
    padding-left: 2.4vw;
    background-position: 0.2vw 0.3vw;
    background-repeat: no-repeat;
    background-size: 1.8vw;
    font-size: 1.3vw;
}

.input-user {
    background-image: url('/public/icon-usu.png');
    margin-bottom: 1vw;
}

.input-pass {
    background-image: url('/public/icon-pass.png');
}

/* Placeholder */
input::placeholder {
    font-weight: bold;
    opacity: 0.3;
    color: black;
    font-family: "Nunito", sans-serif;
}

/* =====================================================
   BOTÃO
   ===================================================== */
.btn-form {
    display: block;
    margin: 2vw auto 0.5vw auto;
    width: 10vw;
    height: 6vh;
    font-size: 1.2vw;
    background-color: #523473;
    color: white;
    border: none;
}

.btn-form:disabled {
    background-color: lightgray;
}

/* =====================================================
   MENSAGENS E LINKS
   ===================================================== */

.error-slot {
    display: block;
    margin: auto;
    text-align: center;
    width: 14vw;
    border-radius: 0.2vw;
    height: 1vw;
}

.errorMessage {
    background-color: #523473;
    color: white;
    font-style: italic;
    font-size: 0.8vw;
}


.a-criar {
    display: block;
    text-align: center;
    font-size: 1vw;
    font-style: italic;
    color: white;
    user-select: none;
}

/* =====================================================
   IMAGEM LATERAL
   ===================================================== */
.img-login {
    width: 20vw;
    height: 64vh;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}