<body>
    <div class="fundo">
        <div class="card container">
            <div class="row align-items-center">
                <div class="login-area col">
                    <p class="title-form">ORGANIZE SEU ESTOQUE</p>
                    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <input class="input-user form-control" type="text" formControlName="username"
                            placeholder="USUARIO" maxlength="30">
                        <input class="input-pass form-control" type="password" formControlName="password"
                            placeholder="••••••••" maxlength="20">
                        <div class="error-slot">
                            @if (errorMessage) {
                            <p class="errorMessage">
                                {{ errorMessage }}
                            </p>
                            }
                        </div>
                        <button class="btn-form btn" type="submit" [disabled]="loginForm.invalid">ENTRAR</button>
                        <a routerLink="card-cadastro" class="a-criar" target="_blank">Ou crie uma conta</a>
                    </form>
                </div>
                <div class="img-area col">
                    <img class="img-login" src="public\img-login.png" alt="">
                </div>
            </div>
        </div>
    </div>
</body>