/* =====================================================
   FUNDO DA PÁGINA
   ===================================================== */
.fundo {
    width: 100vw;
    height: 100vh;
    background-image: url('/public/fundo.png');
    background-repeat: no-repeat;
    background-position: top left;
    border: 1px solid #8b58c0;
}

/* =====================================================
   CARD PRINCIPAL
   ===================================================== */
.card {
    font-family: "Nunito", sans-serif;
    margin: 16.2vh auto 0 auto;
    width: 46vw;
    height: 65vh;
    box-shadow: 0 0 5vw 0.1vw black;
    border: 1px solid #8b58c0;
}

/* =====================================================
   CABEÇALHO
   ===================================================== */
.card-title {
    font-family: "Nunito", sans-serif;
    width: 100%;
    height: 15vh;
    margin-bottom: 5vh;
    background-image: url('/public/fundo-Cad.png');
    background-repeat: no-repeat;
    background-position: top center;
    font-family: "Nunito", sans-serif;
}

.title {
    font-family: "Nunito", sans-serif;
    text-align: center;
    font-size: 3vw;
    font-weight: bold;
    color: white;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/* =====================================================
   INPUTS
   ===================================================== */
.input-user,
.input-pass {
    font-family: "Nunito", sans-serif;
    display: block;
    width: 35vw;
    height: 7vh;
    margin: 1vw auto auto auto;
    font-size: 1.3vw;
    font-weight: bold;
    padding-left: 2.9vw;
    background-repeat: no-repeat;
    background-size: 2.3vw;
    background-position: 0.2vw 0.5vw;
}

.input-user {
    background-image: url('/public/icon-usu.png');
}

.input-pass {
    background-image: url('/public/icon-pass.png');
}

/* Placeholder */
input::placeholder {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    opacity: 0.3;
}

/* =====================================================
   BOTÃO
   ===================================================== */
.btn-form {
    font-family: "Nunito", sans-serif;
    display: block;
    margin: 1vw auto 0.5vw auto;
    width: 10vw;
    height: 6vh;
    font-size: 1.2vw;
    font-weight: bold;
    background-color: #523473;
    color: white;
    border: none;
}

.btn-form:disabled {
    background-color: lightgray;
}

/* =====================================================
   ERROS E LINKS
   ===================================================== */
.error-slot {
    font-family: "Nunito", sans-serif;
    display: block;
    margin: auto;
    text-align: center;
    width: 25vw;
    height: 2.3vw;
}

.errorMessage {
    font-family: "Nunito", sans-serif;
    font-size: 1vw;
    font-style: italic;
    color: white;
    background-color: #523473;
}

.a-entrar {
    font-family: "Nunito", sans-serif;
    display: block;
    margin-top: 2vh;
    text-align: center;
    font-size: 1vw;
    font-weight: bold;
    color: #8b58c0;
    user-select: none;
}
