<body>
    <div class="fundo">
        <div class="card">
            <div class="card-title">
                <p class="title">CADASTRE-SE</p>
            </div>
            <div>
                <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
                    <input class="input-user form-control" type="text" formControlName="username" placeholder="USUARIO"
                        maxlength="30">
                    <div class="error-slot">
                        @if (username?.invalid && (username?.dirty || username?.touched)) {
                        <p class="errorMessage">
                            @if (username?.errors?.['required']) {
                                O usuário é obrigatório!
                            } @else if (username?.errors?.['minlength']) {
                                O usuário deve ter no minimo 8 caracteres!
                            }
                        </p>
                        }
                    </div>
                    <input class="input-pass form-control" type="password" formControlName="password"
                        placeholder="••••••••" maxlength="20">
                    <div class="error-slot">
                        @if (password?.invalid && (password?.dirty || password?.touched)) {
                        <p class="errorMessage">
                            @if (password?.errors?.['required']) {
                                A senha é obrigatório!
                            } @else if (password?.errors?.['minlength']) {
                                A senha deve ter no minimo 5 caracteres!
                            } 
                        </p>
                        }
                    </div>
                    <button class="btn-form btn" type="submit" [disabled]="cadastroForm.invalid">CADASTRAR</button>
                    <a routerLink="card-login" class="a-entrar" target="_blank">Ou acesse sua conta</a>
                </form>
            </div>
        </div>
    </div>
</body>